.colorOne {
  background-color: #f0a500;
}

.colorTwo {
  background-color: #2a2d36;
}

.colorThree {
  background-color: #181a20;
}

.colorFour {
  background-color: #001f3f;
}

.colorFive {
  background-color: #ffffff;
}

.colorSix {
  background-color: #f7f7f7;
}

.colorSeven {
  background-color: #fcebdd;
}

.colorEight {
  background-color: #f0f0f0e0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typingEffect {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s, blink-caret;
}
