.colorOne {
  background-color: #FFD717;
}

.colorTwo {
    background-color: #0D63A5;
}

.colorThree {
    background-color: #083358;
}

.colorFour {
    background-color: #001F3F;
}

.colorFive {
  background-color: #c2c4d8;
}

.colorSix {
  background-color: #aaaaaa;
}
/* .button:hover {
  background-color: #005bb5;
} */